.external-link {
  border: 1px dashed darkgray;
  margin: 1em;
  padding: 1em;
  text-decoration: none;
  display: block;
}

.external-link:hover {
  background-color: #eeeeee;
}

.external-link > .title {
  font-weight: bold;
  font-size: 1.1em;
}

.external-link > .title > a{
  text-decoration: none;
}

.external-link > .description {
  font-size: 0.9em;
}
