---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

{% set postslist = collections.posts %}

<div class="archive-posts">
  <h1>All posts</h1>
  {% include "postslist.njk" %}
  <div class="tag-list-bottom">
      {% include "taglist.njk" %}
  </div>

</div>

<div class="side-column">
  {% include "taglist.njk" %}
</div>
