---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(5) %}

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}

<div class="recent-posts-full">
  {% include "recentpostsfull.njk" %}

  <div class="link-to-archive">More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</div>
  <div class="tag-list-bottom">
      {% include "taglist.njk" %}
  </div>
  <div class="tag-list-bottom">
      {% include "links.njk" %}
  </div>
</div>

<div class="side-column">
  {% include "recentposts.njk" %}
  {% include "taglist.njk" %}
  {% include "links.njk" %}
</div>

