---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

{% set postslist = collections[ tag ] %}
<div class="archive-posts">
  <h1>Tagged “{{ tag }}”</h1>

  {% include "postslist.njk" %}
  <div class="tag-list-bottom">
      {% include "taglist.njk" %}
  </div>

</div>

<div class="side-column">
  {% include "taglist.njk" %}
</div>
