<div class="link-list">
  <h2>links</h2>
  <div>
  {% for link in links %}
  <a href="{{link.url}}" class="external-link" target="_blank">
    <div class="title">
      {{ link.title }}
    </div>
    <div class="description">
      {{ link.description }}
    </div>
  </a>
  {% endfor %}
  </div>
</div>
