
{% for post in postslist | reverse %}
  <div class="post-item">
    <h1 class="post-title">{{post.data.title}}</h1>
    <div class="post-tags">
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
    </div>
    {{ post.templateContent | safe }}
  </div>
{% endfor %}
