
<div class="recent-posts">

<h2>recent posts</h2>

{% for post in postslist | reverse %}
<ul>
  <li>
    <a href="{{ post.url | url }}" class="postlist-link">
      <div class="recent-post-icon">
        <img src="{{'/img/subject_black_24dp.svg' | url}}" width="16px" />
      </div>
      <div class="post-container">
        <div class="post-heading">
          {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
        </div>
        <div>
          <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        </div>
      </div>
    </a>
  </li>
</ul>
{% endfor %}

</div>
