<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self' 'unsafe-inline' https://fonts.googleapis.com/css2; img-src 'self'; child-src 'none'; frame-src youtube.com https://www.youtube.com https://youtu.be; font-src 'self' https://fonts.gstatic.com/ https://fonts.googleapis.com/css2;">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
     <link rel="stylesheet" href="{{ '/css/custom.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="preload" as="image" href="{{'/img/header512.webp' | url}}">
    <link rel="preload" as="image" href="{{'/img/header1024.webp' | url}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
    {% if canonicalLink %}
    <link rel="canonical" href="{{ canonicalLink }}" />
    {% endif %}
  </head>
  <body>

    <header>
      <div class="home-container">
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
      </div>
    </header>
    <div class="header-image"></div>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      {{ content | safe }}
    </main>

    <footer></footer>
  <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
